<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Registration" parallel="tests" thread-count="1">

    <test name="ChromeTest" verbose="1" parallel="true">
        <parameter name="browserName" value="chrome">
            <classes>
                <class name="ui.registrationTests.RegistrationTests"/>
            </classes>
        </parameter>
    </test>

    <test name="FirefoxTest" verbose="1" parallel="true">
        <parameter name="browserName" value="firefox">
            <classes>
                <class name="ui.registrationTests.RegistrationTests"/>
            </classes>
        </parameter>
    </test>

</suite>